.links {
    display:flex;
    justify-content: space-between;
    color: #f9faf8;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: row;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.header {
background-color: #1f2937;
}

.main{
    size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px;
}
h1 {
    size: 18px;
    font-weight: bolder;
    color: #f9faf8;
    order:1;
}
h2 {
    size: 36px;
}
p{
    order:2;
    margin: 0px;
}

button {
    background-color: #3882f6;
    color: white;
    order: 3;
    width: 100px;
    border-radius: 15px;
}
.dog{
    order:4;
    display: flex;
    padding: 50px;
}

img {  
    width: 600px;  
    order:4;
    }  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px;
}
.logo {
    width: 200px;
    height: auto;
    order:0;
    padding:10px;

}
.left{
border: 20px;
padding: 100px;
padding-top: 20px;
}

.right{
    border: 20px;
padding: 100px;
padding-top: 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    size: 30px;
    text-size-adjust: 30px;
    font-size: 30px;
    align-self: center;
}
.corpsetitle{
    display: flex;
    justify-content: center;
    size: 36px;
}

.animals{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


.animals img{
    width: 400px;
    height: 300px;
    border: 1px solid #3882f6;
    align-self: flex-start;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-wrap: wrap;
}
.mainquote{
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    font-style: italic;
    order:1;
    margin: 0px;
}
.sidequote {
font-size: 20px;
font-style: bold;
align-self: flex-end;
justify-content: flex-start;
order:2;
}